
html, body {
  width: 119vh;
  height: 100vh;
  margin: auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
}

.window {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  overflow: auto;   
}

.game {
  
    /* width: 1000px;
    height: 750px; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 116vh;
    height: 87vh;
    cursor: url("img/cursor.png") 2 2, default;
    background-image: url("img/interface.png");
    background-color: #ffffff;
    background-size: 100% auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin :auto;
    
    
}
.noselect {
	color: #555;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.list {
    width: 100px;
}
.myBtnContainer {
    width: 500px;
}
.container {
  width: 58vh;
  height: 61vh;
  overflow: auto;
  position: absolute;
  top: 18vh;
  left: 1.7vh;
  }
  .resultBox {
    display:block;
    background-color: #272727;
  }
  .filterDiv {
    float: left;
    background-color: #ffffff;
    background-size: 100% auto;
    color: #ffffff;
    width: 14vh;
  height: 14vh;
    line-height: 0px;
    display: inline-block;
    overflow: hidden;
    text-align: auto;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
.filterImage {
    /* width: 120px;
    height: 120px; */
    width: 14vh;
    height: 14vh;
    position: relative;
    margin: 0 auto;
    background-size: 100% auto;
    overflow: hidden;
    display: block;
    object-fit: cover;
    -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.filterImageSuperZoom {
  width: 14vh;
  height: 14vh;
  position: relative;
   /* position: absolute; */
  margin: 0 auto;
  background-size: 100% auto;
  overflow: hidden;
  display: block;
  object-fit: cover;
  -moz-transform: scale(3.3);
-webkit-transform: scale(3.3);
transform: scale(3.3);
}
.filterImageLittleZoom {
  width: 14vh;
  height: 14vh;
  position: relative;
  margin: 0 auto;
  background-size: 100% auto;
  overflow: hidden;
  /* position: absolute; */
  display: block;
  object-fit: cover;
  -moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
transform: scale(1.3);
}
.dropdown-content 
{
  display: none;
  background-color: #ffffff;
  width: 57vh;
  height: 56vh;
  top : 0vh;
  left: 0vh;
  overflow: auto;
  position: absolute;
  background-image: url("img/styleBox.png");
  background-size: 100% auto;
  
  z-index: 1;
}
.style {
  float: left;
  width: 14vh;
  height: 14vh;
  line-height: 0px;
  position: relative;
  display: inline-block;
  overflow: hidden;
    text-align: auto;
    margin: 2px;
}
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  .bg1 {
    background-image: url("img/background\ \(1\).png");
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 0.9vh 0.5vh;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }